<style>
  .card:hover{
    background-color:#7ba5ff;
    color: white;

  }
  .card{
    margin: 10px 0px 20px 0px;
  }
</style>
<div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
    <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <a href="/home/<%= Product.first.id %>">
        <img src="https://game.gtimg.cn/images/lol/act/img/skin/big2004.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><%= Product.first.name %></h5>
          <p><%= Product.first.description %></p>
        </div>
      </a>
    </div>

    <div class="carousel-item">
      <a href="/home/<%= Product.second.id %>">
        <img src="https://game.gtimg.cn/images/lol/act/img/skin/big86014.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><%= Product.second.name %></h5>
          <p><%= Product.second.description %></p>
        </div>
      </a>
    </div>

    <div class="carousel-item">
      <a href="/home/<%= Product.third.id %>">
        <img src="https://game.gtimg.cn/images/lol/act/img/skin/big99016.jpg" class="d-block w-100" alt="...">
        <div class="carousel-caption d-none d-md-block">
          <h5><%= Product.third.name %></h5>
          <p><%= Product.third.description %></p>
        </div>
      </a>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<br>

<div class="container">
  <%= simple_form_for @q, url: home_index_path, method: :get, wrapper_html: {class: "width:100%;"} do |f| %>
    <div class="row" style="padding-left: 15px;">
      <%= f.input :name_cont, class: 'string', type: 'text', placeholder: "please input product name...", label: false, wrapper: false, input_html: {class:"col-md-3"} %>
      <%= f.input :platform_cont, class: 'string', type: 'text', placeholder: "please input platform...", label: false, wrapper: false, input_html: {class:"col-md-3"} %>
      <%= f.input :product_category_id_eq, collection: ProductCategory.all, prompt: "-- please choose category --", class: 'string', type: 'text', label: false, wrapper: false, input_html: {class:"col-md-3"} %>
      &nbsp<%= f.submit "filter", class: "btn btn-outline-success col-md-1" %>
    </div>
  <% end %>

  <div class="row">
    <% @products.each do |product| %>
      <div class="col-md-12" style=" float:right ">
        <div class="card" style="width: 100%;border-color:light;box-shadow: 10px 10px 6px rgba(27, 27, 27, 0.05); ">
          <div class="card-body">
            <h5 class="card-title"><%= product.name %></h5>
            <p class="card-text" ><%= product.description[0..20] %>...</p>
            <a href="<%= home_path(product) %>"style=" float:right " class="btn btn-primary">book</a>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<script>
  $('.carousel').carousel()
</script>
