<div class="container">
  <h1>Orders</h1>

  <table class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th>Code</th>
        <th>Product name</th>
        <th>Number</th>
        <th>Amount</th>
        <th>User</th>
        <th>Contact</th>
        <th>Aasm state</th>
        <th>Created at</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @orders.each do |order| %>
        <tr>
          <td><%= order.code %></td>
          <td><%= order.product&.name %></td>
          <td><%= 1 %></td>
          <td><%= order.amount || "<span style='color:#32e696;'>Free</span>".html_safe %></td>
          <td><%= order.user&.name || "<span style='color:red;'>tourist</span>".html_safe %></td>
          <td><%= order.contact %></td>
          <td><%= order.aasm_state %></td>
          <td><%= order.created_at %></td>
          <td><%= link_to 'Show', order %></td>

          <% if order.aasm_state == "awaiting_notice" %>
            <td>
              <%= link_to 'Agree', change_order_status_order_path(order, order_type: "agree"), method: :post, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>

          <% if order.aasm_state == "awaiting_notice" %>
            <td>
              <%= link_to 'Cancel', change_order_status_order_path(order, order_type: "cancel"), method: :post, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>

          <% if order.aasm_state == "canceling" %>
            <td>
              <%= link_to 'Agree cancel', change_order_status_order_path(order, order_type: "cancel"), method: :post, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>

          <% if order.aasm_state == "canceling" %>
            <td>
              <%= link_to 'Return cancel', change_order_status_order_path(order, order_type: "return"), method: :post, data: { confirm: 'Are you sure?' } %>
            </td>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>