<div class="container jumbotron text-center">
  <div class="row">
    <div class="col-sm-3"></div>
    <div class="col-sm-6">
      <h1>Register</h1><br><br>
      <%= form_with model: @user, url: register_path, local: true do |form| %>
        <% if @user.errors.any? %>
          <div id="error_explanation">
            <h2>
              <%= pluralize(@user.errors.count, "error") %> prohibited
              this user from being saved:
            </h2>
            <ul>
              <% @user.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
        <% end %>
        <label> *Nickname: </label><br><%= form.text_field :name, class: "form-control", required: true %><br>
        <label> *Phone: </label><br><%= form.phone_field :phone, class: "form-control", required: true %><br>
        <label> *Email: </label><br><%= form.email_field :email, class: "form-control", required: true %><br>
        <label> *Password: </label><br><%= form.password_field :password, class: "form-control", required: true %><br>
        <label> *Password Confirmation: </label><br><%= form.password_field :password_confirmation, class: "form-control", required: true %><br><br>
        <%= form.submit "Register", data: { disable_with: "Register..." }, class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>